## Filtering Data - Second Part

---

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Filtering').getOrCreate()

In [3]:
df = spark.read.csv('data/demographics.csv', header=True,inferSchema=True)

In [4]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- height_meter: double (nullable = true)
 |-- weight_kg: integer (nullable = true)
 |-- children: integer (nullable = true)
 |-- occupation: string (nullable = true)
 |-- academic_degree: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- location: string (nullable = true)

In [5]:
#What occupation had the higest salary?
df.orderBy(df['salary'].desc()).select('occupation', 'salary').limit(1).show()

+-----------------+------+
|       occupation|salary|
+-----------------+------+
|Medical Physicist|    90|
+-----------------+------+

In [7]:
#What occupation had the lowest salary?
df.orderBy(df['salary']).select('occupation', 'salary').limit(1).show()

+--------------+------+
|    occupation|salary|
+--------------+------+
|Window Dresser|    65|
+--------------+------+

In [8]:
# What is the mean salary of this dataset?

#Import Functions
from pyspark.sql.functions import mean
df.select(mean('salary')).show()

+-----------+
|avg(salary)|
+-----------+
|     77.738|
+-----------+

In [9]:
# What is the max and min of the Salary column?
from pyspark.sql.functions import min, max
df.select(min('salary'), max('salary')).show()

+-----------+-----------+
|min(salary)|max(salary)|
+-----------+-----------+
|         65|         90|
+-----------+-----------+

In [11]:
#Show all of the occupations where salaries were above 80k
from pyspark.sql.functions import count
df.filter('salary > 80').select('occupation').head(10)

[Row(occupation='Hawker'),
 Row(occupation='Choreographer'),
 Row(occupation='Millwright'),
 Row(occupation='Medical Physicist'),
 Row(occupation='Scientist'),
 Row(occupation='Claims Adjustor'),
 Row(occupation='Planning Technician'),
 Row(occupation='Booking Clerk'),
 Row(occupation='Sub-Postmaster'),
 Row(occupation='Shelf Filler')]

In [12]:
df.describe()

DataFrame[summary: string, id: string, name: string, age: string, height_meter: string, weight_kg: string, children: string, occupation: string, academic_degree: string, salary: string, location: string]

In [16]:
# BONUS
# What is the average age and height for each academic degree type?
# HINT: You will need to use `groupBy` to solve this
avg_df = df.groupBy('academic_degree').avg()
avg_df.select("academic_degree","avg(age)","avg(height_meter)").show()

+---------------+------------------+------------------+
|academic_degree|          avg(age)| avg(height_meter)|
+---------------+------------------+------------------+
|            PhD| 43.15976331360947|1.7438165680473379|
|         Master|43.139318885448915|1.7549226006191951|
|       Bachelor| 42.51032448377581| 1.757227138643069|
+---------------+------------------+------------------+