## Dataframe Basics - JSON File

---

In [1]:
#Import our SparkSession so we can use it
from pyspark.sql import SparkSession

In [2]:
# Create our SparkSession, this can take a couple minutes locally
spark = SparkSession.builder.appName('basics').getOrCreate()

In [3]:
# Let's read in some data to play with
data = spark.read.json('data/food.json')

In [4]:
# Let's show the data
data.show()

+-------+-----+
|   food|price|
+-------+-----+
|  pizza| null|
|  sushi|   12|
|chinese|   10|
+-------+-----+

In [5]:
#Print schema
data.printSchema()

root
 |-- food: string (nullable = true)
 |-- price: long (nullable = true)

In [6]:
#Show the columns
data.columns

['food', 'price']

In [7]:
# Describe our data
data.describe()

DataFrame[summary: string, food: string, price: string]

When you are working with a csv file, it's relatively simple to infer the schema. When working with JSON in this example, we have to manually set the schema, which we can do like this.

In [8]:
#Import Struct Fields that we can use
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [9]:
#Next we need to create the list of Struct Fields
schema = [StructField("price", IntegerType(), True), StructField("food", StringType(), True)]
schema

[StructField(price,IntegerType,true), StructField(food,StringType,true)]

In [10]:
#Pass in our fields
final = StructType(fields=schema)
final

StructType(List(StructField(price,IntegerType,true),StructField(food,StringType,true)))

In [11]:
#Read our data with our new schema
df = spark.read.json('data/food.json', schema=final)
df

DataFrame[price: int, food: string]

In [12]:
#Print it out
df.printSchema()

root
 |-- price: integer (nullable = true)
 |-- food: string (nullable = true)

---

## Accessing data

In [13]:
df['price']

Column<b'price'>

In [14]:
type(df['price'])

pyspark.sql.column.Column

In [15]:
df.select('price')

DataFrame[price: int]

In [16]:
type(df.select('price'))

pyspark.sql.dataframe.DataFrame

In [17]:
df.select('price').show()

+-----+
|price|
+-----+
| null|
|   12|
|   10|
+-----+

---

## Manipulating Columns

In [18]:
#Add new columns
df.withColumn('newprice', df['price']).show()

+-----+-------+--------+
|price|   food|newprice|
+-----+-------+--------+
| null|  pizza|    null|
|   12|  sushi|      12|
|   10|chinese|      10|
+-----+-------+--------+

In [19]:
#Update new column name
df.withColumnRenamed('price','newerprice').show()

+----------+-------+
|newerprice|   food|
+----------+-------+
|      null|  pizza|
|        12|  sushi|
|        10|chinese|
+----------+-------+

In [20]:
#Double the price
df.withColumn('doubleprice', df['price']*2).show()

+-----+-------+-----------+
|price|   food|doubleprice|
+-----+-------+-----------+
| null|  pizza|       null|
|   12|  sushi|         24|
|   10|chinese|         20|
+-----+-------+-----------+

In [21]:
#Add a dollar to th price
df.withColumn('add_one_dollar',df['price']+1).show()

+-----+-------+--------------+
|price|   food|add_one_dollar|
+-----+-------+--------------+
| null|  pizza|          null|
|   12|  sushi|            13|
|   10|chinese|            11|
+-----+-------+--------------+

In [22]:
#Half the price
df.withColumn('half_price', df['price']/2).show()

+-----+-------+----------+
|price|   food|half_price|
+-----+-------+----------+
| null|  pizza|      null|
|   12|  sushi|       6.0|
|   10|chinese|       5.0|
+-----+-------+----------+

In [23]:
#Collecting a columns as a list
df.select('price').collect()

[Row(price=None), Row(price=12), Row(price=10)]

---

## Converting PySpark Dataframe to Pandas Dataframe

In [24]:
import pandas as pd
pandas_df = df.toPandas()

In [25]:
pandas_df.head()

   price     food
0    NaN    pizza
1   12.0    sushi
2   10.0  chinese